.header {
  font-size: 1.5rem;
  color: var(--dt-blue);
  text-align: center;
  width: 100%;
}

.list {
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
}

.list li {
  flex-basis: 35%;
  margin: 0 2rem 1rem 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    text-align: center;
  }

  .list {
    align-items: center;
    justify-content: center;
  }

  .list li {
    flex-basis: 90%;
  }
}
