.header {
  font-size: 1.5rem;
  color: #f59994;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
}

.list li {
  flex-basis: 50%;
  margin: 0 2rem 1rem 0;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .list {
    align-items: center;
    justify-content: center;
  }
}
